body{
    max-width: 480px;
    min-height: 700px;
    background: transparent;
    margin: auto;
}
.top{
    height: 40px;
    box-shadow: 0 0 4px rgb(69, 75, 59);
    margin-top: 4px;
}
.drop_cn{
    height: 37vh;
    width: 80%;
    box-shadow:  0 0 4px black;
    margin: auto;
}
.drag_cn{
    height: 37vh;
    width: 80%;
    box-shadow:  0 0 4px black;
    margin: auto;
    margin-top: 8px;
}drop{
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background: blue;
}