body{
    max-width: 480px;
    min-height: 700px;
    background: transparent;
}
.top{
    height: 30px;
    box-shadow: 0 0 4px greenyellow;
}
.drop_cn{
    height: 94%;
    box-shadow:  0 0 4px black;
}